html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  width: 100vw; /* Adiciona largura total ao body */
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 100vw;
  height: 100vh;
  background-color: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
  border-radius: 10px;
}

.alinhamento-conteudo-card {
  width: 80%;
  padding: 20px;
}

h1 {
  margin-bottom: 20px;
  text-align: center;
}

h6 {
  margin-top: 20px;
  text-align: left;
}

.botao {
  padding: 10px;
  background-color: white;
  border: 1px solid #000;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: center;
}

.botao:hover {
  background-color: lightgray;
}

.botao-correto {
  background-color: lightgreen;
  border: 1px solid green;
}

.botao-incorreto {
  background-color: lightcoral;
  border: 1px solid red;
}

.mensagem-correto {
  color: green;
  font-weight: bold;
  margin-top: 20px;
}

.mensagem-incorreto {
  color: red;
  font-weight: bold;
  margin-top: 20px;
}

button {
  margin-top: 20px;
  float: right;
}
