<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>qc</title>
  </head>
  <body>
    <div class="card">
      <div class="alinhamento-conteudo-card">
        <div class="quiz-div">
          <h6>ID da Questão: {{ questoes[indiceAtual]?.id_Questao }}</h6>
          <div *ngIf="questoes.length > 0">
            <h1>{{ questoes[indiceAtual]?.txt_Questao }}</h1>
            <p
              class="botao"
              (click)="selecionarAlternativa('A')"
              [ngClass]="{
                'botao-correto':
                  alternativaSelecionada === 'A' &&
                  alternativaSelecionada === resposta,
                'botao-incorreto':
                  alternativaSelecionada === 'A' &&
                  alternativaSelecionada !== resposta
              }"
            >
              A) {{ questoes[indiceAtual]?.alternativa_A }}
            </p>
            <p
              class="botao"
              (click)="selecionarAlternativa('B')"
              [ngClass]="{
                'botao-correto':
                  alternativaSelecionada === 'B' &&
                  alternativaSelecionada === resposta,
                'botao-incorreto':
                  alternativaSelecionada === 'B' &&
                  alternativaSelecionada !== resposta
              }"
            >
              B) {{ questoes[indiceAtual]?.alternativa_B }}
            </p>
            <p
              class="botao"
              (click)="selecionarAlternativa('C')"
              [ngClass]="{
                'botao-correto':
                  alternativaSelecionada === 'C' &&
                  alternativaSelecionada === resposta,
                'botao-incorreto':
                  alternativaSelecionada === 'C' &&
                  alternativaSelecionada !== resposta
              }"
            >
              C) {{ questoes[indiceAtual]?.alternativa_C }}
            </p>
            <p
              class="botao"
              (click)="selecionarAlternativa('D')"
              [ngClass]="{
                'botao-correto':
                  alternativaSelecionada === 'D' &&
                  alternativaSelecionada === resposta,
                'botao-incorreto':
                  alternativaSelecionada === 'D' &&
                  alternativaSelecionada !== resposta
              }"
            >
              D) {{ questoes[indiceAtual]?.alternativa_D }}
            </p>
            <p
              class="botao"
              (click)="selecionarAlternativa('E')"
              [ngClass]="{
                'botao-correto':
                  alternativaSelecionada === 'E' &&
                  alternativaSelecionada === resposta,
                'botao-incorreto':
                  alternativaSelecionada === 'E' &&
                  alternativaSelecionada !== resposta
              }"
            >
              E) {{ questoes[indiceAtual]?.alternativa_E }}
            </p>
            <div
              *ngIf="alternativaSelecionada !== null"
              [ngClass]="
                alternativaSelecionada === resposta
                  ? 'mensagem-correto'
                  : 'mensagem-incorreto'
              "
            >
              {{
                alternativaSelecionada === resposta
                  ? "Você acertou!"
                  : "Você errou!"
              }}
            </div>
            <p>Pontuação: {{ pontuacaoInicial }}/{{ questoes.length }}</p>
            <div>
              <button (click)="proximaQuestao()">Próxima Questão</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
